h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    display: block;
    width: 300px;
    text-align: center;
}

span {
    background-color: indianred;
    border: 1px solid black;
    display: inline;
    padding: 50px;
    margin: 10px;
}

div {
    height: 200px;
    width: 200px;
    background-color: olive;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
}